
<mat-stepper orientation="vertical" [linear]="false" #stepper>

    <mat-step [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Fill out your personal details</ng-template>
       <app-step1 [formGroup]="formArray?.get([0])" ></app-step1>
        </mat-step><br><br>

        <mat-step [stepControl]="formArray?.get([1])" *ngIf="formArray?.get([0]).valid" >
          <ng-template matStepLabel>Fill out your Address</ng-template><br><br>
           <app-step2 [formGroup]="formArray?.get([1])" ></app-step2>
           
            </mat-step>
            <mat-step  *ngIf="formArray?.get([1]).valid" >
              <ng-template matStepLabel>Review</ng-template>
              <app-step3 [formGroup]="appForm" #formDirective="ngForm" ></app-step3>
             
               <button type="submit" mat-raised-button [routerLink]="['/dashboard']" (click)="onFormSubmit()">Submit</button> 
            </mat-step>

</mat-stepper>

      